h4 {
  margin-top: 20px;
}

#statusCircle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  margin: 0px 10px 10px 0px;
}

.container {
  width: 400px;
  margin-bottom: 20px;
}

#savedMark {
  width: 20px;
  height: 20px;
  margin: 10px;
  display: none;
}

#saveContainer {
  display: flex;
  justify-content: flex-start;
}
